<?xml version="1.0" encoding="UTF-8"?>
<root>
	<styleSheets>
		<styleSheet><![CDATA[css/flashstyles.css?v=1]]></styleSheet>
	</styleSheets>
	
	<fonts>
		<font><![CDATA[swf/fonts/Verdana.swf?v=1]]></font>
	</fonts>
	
	<labels>
		<label code="tools"><![CDATA[Outils]]></label>
		<label code="patron"><![CDATA[Patron]]></label>
		<label code="copy"><![CDATA[Copier]]></label>
		<label code="past"><![CDATA[Coller]]></label>
		<label code="raz"><![CDATA[RAZ]]></label>
		<label code="image"><![CDATA[Image]]></label>
		<label code="exportImage"><![CDATA[Exporter face]]></label>
		<label code="openForm"><![CDATA[Envoyer]]></label>
		<label code="formTitle"><![CDATA[Donnez un petit nom à votre kube et laissez-le s'envoler au pays des kubes !]]></label>
		<label code="formSubmit"><![CDATA[Valider]]></label>
		
		<label code="errorImageLoading"><![CDATA[Le chargement du fichier a échoué. Assurez-vous qu'il s'agisse bien d'un fichier image valide.]]></label>
		<label code="errorSubmitResultFormat"><![CDATA[L'envoi du kube a échoué. Le format des données retournées est invalide.]]></label>
		<label code="errorSubmitResult404"><![CDATA[La connexion au serveur a échoué.]]></label>
		<label code="errorSubmitResultName"><![CDATA[L'envoi du kube a échoué. Aucun nom de kube défini.]]></label>
		<label code="errorSubmitResultFile"><![CDATA[L'envoi du kube a échoué. Probléme de transmission du fichier.]]></label>
		<label code="errorSubmitResultPost"><![CDATA[L'envoi du kube a échoué. Aucune donnée transmise, merci de réessayer]]></label>
		<label code="errorSubmitResultCreate"><![CDATA[L'envoi du kube a échoué. Erreur lors de la création du fichier.]]></label>
		<label code="errorSubmitResultSql"><![CDATA[L'envoi du kube a échoué. Erreur SQL.]]></label>
		<label code="errorSubmitResultWrite"><![CDATA[L'envoi du kube a échoué. Ecriture du fichier impossible.]]></label>
		
		<label code="errorLoadResultFormat"><![CDATA[Le chargement de la liste des kubes a échoué. Le format des données retournées est invalide.]]></label>
		<label code="errorLoadResult404"><![CDATA[La connexion au serveur a échoué.]]></label>
	</labels>
	
	<vars>
		<var code="lang"><![CDATA[fr]]></var>
		<var code="stats"><![CDATA[false]]></var>
		<var code="server"><![CDATA[http://localhost/kubebuilder]]></var>
	</vars>
	
	<paths>
		<path code="css"><![CDATA[css/styles.css]]></path>
		<path code="fonts"><![CDATA[fonts/fonts.swf]]></path>
		<path code="postKube"><![CDATA[{v_server}/php/ws/postKube.php]]></path>
		<path code="getKubes"><![CDATA[{v_server}/php/ws/getKubes.php]]></path>
		<path code="kubesFolder"><![CDATA[{v_server}/kubes/]]></path>
		<path code="resultPage"><![CDATA[?act=rank&uid={v_uid}&name=durss&pubkey={v_pubkey}]]></path>
	</paths>
	
	<dependencies />
</root>